<a href="https://colab.research.google.com/github/Johan1us/Python-programming-exercises/blob/master/Summary_of_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
name_csv = 'stuk_stuk'

In [0]:
df = pd.read_csv((name_csv + '.csv'), sep=";",  encoding='latin', error_bad_lines=False)

In [4]:
df

,poststuk_id1,poststuk_id2,rel_srt_id,dat_aan,dat_bew,gebr_aan,gebr_bew
0,NaN,17.0001709,BIJ,13/02/2017,13/02/2017,aemn,aemn
1,NaN,17.0001895,BIJ,15/02/2017,15/02/2017,eert,eert
2,NaN,17.0001896,BIJ,15/02/2017,15/02/2017,eert,eert
3,NaN,17.0001943,BIJ,15/02/2017,15/02/2017,aemn,aemn
4,NaN,17.0001944,BIJ,15/02/2017,15/02/2017,aemn,aemn
5,NaN,17.0001973,BIJ,15/02/2017,15/02/2017,nihk,nihk
6,NaN,17.0001974,BIJ,15/02/2017,15/02/2017,nihk,nihk
7,NaN,17.0001975,BIJ,15/02/2017,15/02/2017,nihk,nihk
8,NaN,17.0002008,BIJ,16/02/2017,16/02/2017,aemn,aemn
9,NaN,17.0002009,BIJ,16/02/2017,16/02/2017,aemn,aemn
10,NaN,17.0002012,BIJ,16/02/2017,16/02/2017,aemn,aemn
11,NaN,17.0002013,BIJ,16/02/2017,16/02/2017,aemn,aemn
12,NaN,17.0002018,BIJ,16/02/2017,16/02/2017,aemn,aemn
13,NaN,17.0002019,BIJ,16/02/2017,16/02/2017,aemn,aemn
14,NaN,17.0002020,BIJ,16/02/2017,16/02/2017,aemn,aemn
15,NaN,17.0002021,BIJ,16/02/2017,16/02/2017,aemn,aemn
16,NaN,17.0002092,BIJ,17/02/2017,17/02/2017,aemn,aemn
17,NaN,17.0002093,BIJ,17/02/2017,17/02/2017,aemn,aemn
18,NaN,17.0002201,BIJ,20/02/2017,20/02/2017,jbgm,jbgm
19,NaN,17.0002202,BIJ,20/02/2017,20/02/2017,jbgm,jbgm
20,NaN,17.0002638,BIJ,27/02/2017,27/02/2017,aemn,aemn
21,NaN,17.0002639,BIJ,27/02/2017,27/02/2017,aemn,aemn
22,NaN,17.0002675,BIJ,27/02/2017,27/02/2017,aemn,aemn
23,NaN,17.0002676,BIJ,27/02/2017,27/02/2017,aemn,aemn
24,NaN,17.0002743,BIJ,28/02/2017,28/02/2017,aemn,aemn
25,NaN,17.0002744,BIJ,28/02/2017,28/02/2017,aemn,aemn
26,NaN,17.0003419,BIJ,14/03/2017,14/03/2017,nihk,nihk
27,NaN,17.0003420,BIJ,14/03/2017,14/03/2017,nihk,nihk
28,NaN,17.0003421,BIJ,14/03/2017,14/03/2017,nihk,nihk
29,NaN,17.0003422,BIJ,14/03/2017,14/03/2017,nihk,nihk
...,...,...,...,...,...,...,...
70534,C17.000013,17.0016084,REL,09/11/2017,09/11/2017,fyhn,fyhn
70535,C17.000013,17.0016085,REL,09/11/2017,09/11/2017,fyhn,fyhn
70536,C17.000013,17.0016086,REL,09/11/2017,09/11/2017,fyhn,fyhn
70537,C17.000013,17.0016087,REL,09/11/2017,09/11/2017,fyhn,fyhn
70538,C17.000013,17.0016088,REL,09/11/2017,09/11/2017,fyhn,fyhn
70539,C17.000014,17.0016587,BIJ,21/11/2017,21/11/2017,wnzg,wnzg
70540,C17.000015,17.0016645,Bij,20/11/2017,20/11/2017,wnzg,wnzg
70541,C18.000004,18.0001463,Bij,25/01/2018,25/01/2018,skbr,skbr
70542,concept,16.0002690,REL,25/02/2016,25/02/2016,snes,snes
70543,concept,16.0004540,REL,04/04/2016,04/04/2016,anss,anss
70544,concept,16.0005065,REL,12/04/2016,12/04/2016,anss,anss
70545,concept,16.0005072,REL,12/04/2016,12/04/2016,anss,anss
70546,concept,16.0016738,REL,23/12/2016,23/12/2016,prdk,prdk
70547,concept,17.0011104,REL,31/07/2017,31/07/2017,wnzg,wnzg
70548,concept,17.0012598,REL,01/09/2017,01/09/2017,wnzg,wnzg
70549,concept,18.0005094,REL,28/03/2018,28/03/2018,wnzg,wnzg
70550,concept,18.0008389,REL,22/05/2018,22/05/2018,wnzg,wnzg
70551,F13-000011,13.0005372,Bij,12/12/2013,12/12/2013,aeht,aeht
70552,F14-002412,14.0004450,REL,10/09/2014,10/09/2014,jtbr,jtbr
70553,F15-003854,15.0013865,REL,26/10/2015,26/10/2015,jtbr,jtbr
70554,F15-004266,15.0006173,REL,01/12/2015,01/12/2015,jtss,jtss
70555,F15-004267,15.0015556,REL,01/12/2015,01/12/2015,gnrn,gnrn
70556,F16-000128,15.0016375,REL,07/01/2016,07/01/2016,mmmn,mmmn
70557,F16-001317,16.0003177,BIJ,21/03/2016,21/03/2016,JNBR,JNBR
70558,F16-003666,16.0006035,REL,29/09/2016,29/09/2016,anru,anru
70559,F17-003494,17.0012311,BIJ,25/08/2017,25/08/2017,mest,mest
70560,F17-003495,17.0009956,REL,28/08/2017,28/08/2017,wnzg,wnzg
70561,F17-004199,17.0015218,BIJ,23/10/2017,23/10/2017,eert,eert
70562,F18-001537,18.0004112,Bij,18/03/2018,18/03/2018,aasr,aasr
70563,F18-003061,17.0017513,REL,06/07/2018,06/07/2018,mest,mest

In [0]:
def summary():
  print ('Summary of......:', name_csv + '.csv')
  print ('Columns.........:', len(df.columns))
  print ('Rows............:', len(df.index))
  print (2*('\n'))

  for col in df.columns:
    objcounts = df[(col)].value_counts()
    count_unique = len(objcounts[objcounts != 0])
    print ('  **', (col) ,'**''\n') # print the header of the column
    print ('Rows............:', len(df[(col)].index))
    print ('Filled..........:', df[(col)].count())
    print ('Empty...........:', df[(col)].isna().sum())
    print ('Unique values...:', count_unique)
 
    if df[(col)].count() > 1: # mistake: 'if objcounts.iloc[0] is > 1:'
      high, high_freq = objcounts.index[0], objcounts.iloc[0]
      low, low_freq = objcounts.index[-1], objcounts.iloc[-1] # lowest: trick = -1
      print ('Most freq.......:',high,'  (',high_freq,'x)')
      print ('Least freq......:',low,'  (',low_freq,'x)')
      print ('Datatype........:', df[(col)].dtype) # print the datatype of the column + a new line
      print ('Overview........:''\n')
      head = df[(col)][:5]
      for a in head:
        print ('    ',a)
      print ('     ...')
      tail = df[(col)][-5:]
      for b in tail:
        print ('    ',b)
      print (1*('\n'))
        
    else:
      print ('\n''** This is an empty column **''\n')
  
    if df[(col)].dtype == 'int64':
      objcounts = df[(col)].value_counts()
      count_unique = len(objcounts[objcounts != 0])
      high, high_freq = objcounts.index[0], objcounts.iloc[0]
    
      print ('Min.............:', df[(col)].min())
      print ('Mean............:', df[(col)].mean())
      print ('Max.............:', df[(col)].max())
      print ('Datatype........:', df[(col)].dtype) # print the datatype of the column + a new line
      print ('Overview........:''\n')
      head = df[(col)][:5]
      for a in head:
        print ('    ',a)
      print ('     ...')
      tail = df[(col)][-5:]
      for b in tail:
        print ('    ',b)
      print (1*('\n'))
  
  print (1*('\n'))

In [6]:
summary()

Summary of......: stuk_stuk.csv
Columns.........: 7
Rows............: 70564



  ** poststuk_id1 **

Rows............: 70564
Filled..........: 70054
Empty...........: 510
Unique values...: 33320
Most freq.......: 18.0002939   ( 56 x)
Least freq......: 16.0004405   ( 1 x)
Datatype........: object
Overview........:

     nan
     nan
     nan
     nan
     nan
     ...
     F17-003494
     F17-003495
     F17-004199
     F18-001537
     F18-003061


  ** poststuk_id2 **

Rows............: 70564
Filled..........: 70054
Empty...........: 510
Unique values...: 33320
Most freq.......: 18.0002939   ( 56 x)
Least freq......: 16.0004405   ( 1 x)
Datatype........: object
Overview........:

     17.0001709
     17.0001895
     17.0001896
     17.0001943
     17.0001944
     ...
     17.0012311
     17.0009956
     17.0015218
     18.0004112
     17.0017513


  ** rel_srt_id **

Rows............: 70564
Filled..........: 70386
Empty...........: 178
Unique values...: 6
Most freq.......: REL   ( 25414 x)
Least freq......: aan   ( 10 x)
Datatype........: object
Overview........:

     BIJ
     BIJ
     BIJ
     BIJ
     BIJ
     ...
     BIJ
     REL
     BIJ
     Bij
     REL


  ** dat_aan **

Rows............: 70564
Filled..........: 70552
Empty...........: 12
Unique values...: 1607
Most freq.......: 22/02/2018   ( 1484 x)
Least freq......: 25/03/2008   ( 2 x)
Datatype........: object
Overview........:

     13/02/2017
     15/02/2017
     15/02/2017
     15/02/2017
     15/02/2017
     ...
     25/08/2017
     28/08/2017
     23/10/2017
     18/03/2018
     06/07/2018


  ** dat_bew **

Rows............: 70564
Filled..........: 70552
Empty...........: 12
Unique values...: 1607
Most freq.......: 22/02/2018   ( 1486 x)
Least freq......: 25/03/2008   ( 2 x)
Datatype........: object
Overview........:

     13/02/2017
     15/02/2017
     15/02/2017
     15/02/2017
     15/02/2017
     ...
     25/08/2017
     28/08/2017
     23/10/2017
     18/03/2018
     06/07/2018


  ** gebr_aan **

Rows............: 70564
Filled..........: 70552
Empty...........: 12
Unique values...: 143
Most freq.......: SYSTEM   ( 11716 x)
Least freq......: merl   ( 2 x)
Datatype........: object
Overview........:

     aemn
     eert
     eert
     aemn
     aemn
     ...
     mest
     wnzg
     eert
     aasr
     mest


  ** gebr_bew **

Rows............: 70564
Filled..........: 70552
Empty...........: 12
Unique values...: 143
Most freq.......: SYSTEM   ( 11716 x)
Least freq......: merl   ( 2 x)
Datatype........: object
Overview........:

     aemn
     eert
     eert
     aemn
     aemn
     ...
     mest
     wnzg
     eert
     aasr
     mest

In [0]:
import sys
sys.stdout = open((name_csv)+'_summary.txt', 'wt')

In [0]:
summary()