<a href="https://colab.research.google.com/github/Johan1us/Python-programming-exercises/blob/master/Summary_of_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
name_csv = 'obj_kenm'

In [67]:
df = pd.read_csv((name_csv + '.csv'), sep=";",  encoding='latin', error_bad_lines=False)

b'Skipping line 8298: expected 13 fields, saw 14\nSkipping line 18021: expected 13 fields, saw 22\nSkipping line 42763: expected 13 fields, saw 14\nSkipping line 59813: expected 13 fields, saw 15\n'
b'Skipping line 86564: expected 13 fields, saw 16\nSkipping line 93757: expected 13 fields, saw 17\nSkipping line 110846: expected 13 fields, saw 17\nSkipping line 127962: expected 13 fields, saw 16\n'
b'Skipping line 145160: expected 13 fields, saw 21\nSkipping line 162578: expected 13 fields, saw 16\nSkipping line 172293: expected 13 fields, saw 15\nSkipping line 182082: expected 13 fields, saw 15\n'
b'Skipping line 211306: expected 13 fields, saw 23\nSkipping line 240552: expected 13 fields, saw 20\n'
b'Skipping line 269745: expected 13 fields, saw 15\nSkipping line 279508: expected 13 fields, saw 18\nSkipping line 298971: expected 13 fields, saw 23\n'
b'Skipping line 337961: expected 13 fields, saw 14\nSkipping line 347684: expected 13 fields, saw 22\nSkipping line 386684: expected 13 fields, saw 18\n'
b'Skipping line 396492: expected 13 fields, saw 14\nSkipping line 445216: expected 13 fields, saw 14\nSkipping line 454974: expected 13 fields, saw 21\n'
b'Skipping line 474473: expected 13 fields, saw 21\nSkipping line 513429: expected 13 fields, saw 25\n'
b'Skipping line 532919: expected 13 fields, saw 18\nSkipping line 562077: expected 13 fields, saw 18\n'
b'Skipping line 610810: expected 13 fields, saw 22\nSkipping line 640045: expected 13 fields, saw 17\nSkipping line 649825: expected 13 fields, saw 19\n'
b'Skipping line 679029: expected 13 fields, saw 21\nSkipping line 698503: expected 13 fields, saw 15\n'
b'Skipping line 727774: expected 13 fields, saw 22\nSkipping line 747264: expected 13 fields, saw 20\nSkipping line 766802: expected 13 fields, saw 14\nSkipping line 786326: expected 13 fields, saw 16\n'
b'Skipping line 796069: expected 13 fields, saw 14\nSkipping line 815570: expected 13 fields, saw 17\nSkipping line 825354: expected 13 fields, saw 16\n'
b'Skipping line 854550: expected 13 fields, saw 20\nSkipping line 874041: expected 13 fields, saw 19\nSkipping line 903334: expected 13 fields, saw 14\n'
b'Skipping line 932514: expected 13 fields, saw 17\nSkipping line 951981: expected 13 fields, saw 23\nSkipping line 971520: expected 13 fields, saw 20\n'
b'Skipping line 1010523: expected 13 fields, saw 14\nSkipping line 1029962: expected 13 fields, saw 20\n'
b'Skipping line 1059253: expected 13 fields, saw 22\nSkipping line 1078739: expected 13 fields, saw 22\n'
b'Skipping line 1117720: expected 13 fields, saw 17\nSkipping line 1137191: expected 13 fields, saw 14\nSkipping line 1156683: expected 13 fields, saw 19\nSkipping line 1166408: expected 13 fields, saw 14\n'
b'Skipping line 1185914: expected 13 fields, saw 17\nSkipping line 1215612: expected 13 fields, saw 16\nSkipping line 1226087: expected 13 fields, saw 19\n'
b'Skipping line 1264901: expected 13 fields, saw 21\nSkipping line 1284162: expected 13 fields, saw 20\n'
b'Skipping line 1312146: expected 13 fields, saw 18\nSkipping line 1331584: expected 13 fields, saw 15\nSkipping line 1351106: expected 13 fields, saw 18\nSkipping line 1370625: expected 13 fields, saw 20\n'
b'Skipping line 1390171: expected 13 fields, saw 20\nSkipping line 1419349: expected 13 fields, saw 19\nSkipping line 1438477: expected 13 fields, saw 21\n'
b'Skipping line 1457470: expected 13 fields, saw 23\nSkipping line 1476627: expected 13 fields, saw 20\nSkipping line 1486376: expected 13 fields, saw 15\nSkipping line 1495889: expected 13 fields, saw 14\n'
b'Skipping line 1534251: expected 13 fields, saw 19\nSkipping line 1553486: expected 13 fields, saw 20\nSkipping line 1572562: expected 13 fields, saw 16\n'
b'Skipping line 1591376: expected 13 fields, saw 15\nSkipping line 1629341: expected 13 fields, saw 16\n'
b'Skipping line 1657628: expected 13 fields, saw 19\nSkipping line 1677055: expected 13 fields, saw 14\n'
b'Skipping line 1706252: expected 13 fields, saw 14\nSkipping line 1715900: expected 13 fields, saw 14\nSkipping line 1735265: expected 13 fields, saw 21\nSkipping line 1764234: expected 13 fields, saw 17\n'
b'Skipping line 1773676: expected 13 fields, saw 14\nSkipping line 1792716: expected 13 fields, saw 14\nSkipping line 1802481: expected 13 fields, saw 19\nSkipping line 1821747: expected 13 fields, saw 19\n'
b'Skipping line 1861648: expected 13 fields, saw 14\nSkipping line 1881387: expected 13 fields, saw 22\n'
b'Skipping line 1911136: expected 13 fields, saw 14\n'
b'Skipping line 1970401: expected 13 fields, saw 22\nSkipping line 1999921: expected 13 fields, saw 17\nSkipping line 2019698: expected 13 fields, saw 22\n'
b'Skipping line 2049452: expected 13 fields, saw 24\nSkipping line 2078948: expected 13 fields, saw 24\n'
b'Skipping line 2138194: expected 13 fields, saw 22\nSkipping line 2148114: expected 13 fields, saw 14\n'
b'Skipping line 2177566: expected 13 fields, saw 20\nSkipping line 2197247: expected 13 fields, saw 16\nSkipping line 2226143: expected 13 fields, saw 14\n'
b'Skipping line 2245351: expected 13 fields, saw 15\nSkipping line 2264551: expected 13 fields, saw 19\nSkipping line 2274285: expected 13 fields, saw 16\nSkipping line 2283770: expected 13 fields, saw 16\n'
b'Skipping line 2303044: expected 13 fields, saw 19\nSkipping line 2322283: expected 13 fields, saw 17\nSkipping line 2332048: expected 13 fields, saw 16\nSkipping line 2341526: expected 13 fields, saw 14\nSkipping line 2351313: expected 13 fields, saw 21\n'
b'Skipping line 2360794: expected 13 fields, saw 14\nSkipping line 2370556: expected 13 fields, saw 14\nSkipping line 2399275: expected 13 fields, saw 14\n'
b'Skipping line 2447563: expected 13 fields, saw 22\nSkipping line 2466826: expected 13 fields, saw 14\nSkipping line 2486066: expected 13 fields, saw 25\n'
b'Skipping line 2514813: expected 13 fields, saw 15\nSkipping line 2524586: expected 13 fields, saw 14\nSkipping line 2543844: expected 13 fields, saw 14\n'
b'Skipping line 2582300: expected 13 fields, saw 22\nSkipping line 2620818: expected 13 fields, saw 15\n'
b'Skipping line 2640078: expected 13 fields, saw 21\nSkipping line 2659382: expected 13 fields, saw 15\nSkipping line 2668867: expected 13 fields, saw 14\nSkipping line 2678617: expected 13 fields, saw 16\n'
b'Skipping line 2697884: expected 13 fields, saw 16\nSkipping line 2717158: expected 13 fields, saw 19\nSkipping line 2745903: expected 13 fields, saw 16\n'
b'Skipping line 2774843: expected 13 fields, saw 15\nSkipping line 2803325: expected 13 fields, saw 23\n'
b'Skipping line 2822452: expected 13 fields, saw 15\nSkipping line 2832224: expected 13 fields, saw 19\nSkipping line 2851352: expected 13 fields, saw 19\nSkipping line 2879820: expected 13 fields, saw 21\n'
b'Skipping line 2898946: expected 13 fields, saw 14\nSkipping line 2908711: expected 13 fields, saw 16\nSkipping line 2927850: expected 13 fields, saw 16\nSkipping line 2946974: expected 13 fields, saw 20\n'
b'Skipping line 3004243: expected 13 fields, saw 25\n'
b'Skipping line 3032672: expected 13 fields, saw 19\nSkipping line 3042386: expected 13 fields, saw 14\nSkipping line 3061516: expected 13 fields, saw 20\n'
b'Skipping line 3080586: expected 13 fields, saw 21\nSkipping line 3099660: expected 13 fields, saw 21\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [68]:
df.columns

Index(['kenmerk_id', 'object_type', 'object_id', 'waarde', 'c-waarde',
       'i-waarde', 'l-waarde', 'n-waarde', 'd-waarde', 'dat_aan', 'dat_bew',
       'gebr_aan', 'gebr_bew'],
      dtype='object')

In [69]:
df

,kenmerk_id,object_type,object_id,waarde,c-waarde,i-waarde,l-waarde,n-waarde,d-waarde,dat_aan,dat_bew,gebr_aan,gebr_bew
0,ZDarole,C,2013Z00001,ARCHIEF,ARCHIEF,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,WABN,WABN
1,ZDcreate,C,2013Z00001,2013Z00001,2013Z00001,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,WABN,WABN
2,ZDdummy1,C,2013Z00001,OK,OK,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,WABN,WABN
3,ZDdummy2,C,2013Z00001,OK,OK,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,WABN,WABN
4,ZDdummy3,C,2013Z00001,OK,OK,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,WABN,WABN
5,ZDdummy4,C,2013Z00001,OK,OK,0,Nee,"0,0000000000",NaN,18/09/2013,18/09/2013,lasl,lasl
6,ZDlink,C,2013Z00001,OK,OK,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,WABN,WABN
7,ZDpstGeg,C,2013Z00001,ja,NaN,0,Ja,"0,0000000000",NaN,18/09/2013,18/09/2013,lasl,lasl
8,ZDpstid,C,2013Z00001,13.0001237,13.0001237,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,WABN,WABN
9,ZDpstinh,C,2013Z00001,Aanvraag leerlingenvervoer kind vd. Vliet scho...,Aanvraag leerlingenvervoer kind vd. Vliet scho...,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,WABN,WABN
10,ZDpstond,C,2013Z00001,Aanvraag leerlingenvervoer,Aanvraag leerlingenvervoer,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,WABN,WABN
11,ZDSubjn,C,2013Z00001,ja,NaN,0,Ja,"0,0000000000",NaN,18/09/2013,18/09/2013,lasl,lasl
12,ZDtitelz,C,2013Z00001,Leerlingenvervoer,Leerlingenvervoer,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,WABN,WABN
13,ZDarole,C,2013Z00002,ARCHIEF,ARCHIEF,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,SYSTEM,SYSTEM
14,ZDcreate,C,2013Z00002,2013Z00002,2013Z00002,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,SYSTEM,SYSTEM
15,ZDdummy1,C,2013Z00002,OK,OK,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,SYSTEM,SYSTEM
16,ZDdummy2,C,2013Z00002,OK,OK,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,SYSTEM,SYSTEM
17,ZDdummy3,C,2013Z00002,OK,OK,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,SYSTEM,SYSTEM
18,ZDlink,C,2013Z00002,OK,OK,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,SYSTEM,SYSTEM
19,ZDpstid,C,2013Z00002,13.0001282,13.0001282,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,SYSTEM,SYSTEM
20,ZDpstinh,C,2013Z00002,Aanvraag leerlingenvervoer Nathan Aart v.d. Aa...,Aanvraag leerlingenvervoer Nathan Aart v.d. Aa...,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,SYSTEM,SYSTEM
21,ZDpstond,C,2013Z00002,Aanvraag leerlingenvervoer,Aanvraag leerlingenvervoer,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,SYSTEM,SYSTEM
22,ZDtitelz,C,2013Z00002,Leerlingenvervoer,Leerlingenvervoer,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,SYSTEM,SYSTEM
23,ZDarole,C,2013Z00003,ARCHIEF,ARCHIEF,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,SYSTEM,SYSTEM
24,ZDcreate,C,2013Z00003,2013Z00003,2013Z00003,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,SYSTEM,SYSTEM
25,ZDdummy1,C,2013Z00003,OK,OK,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,SYSTEM,SYSTEM
26,ZDdummy2,C,2013Z00003,OK,OK,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,SYSTEM,SYSTEM
27,ZDdummy3,C,2013Z00003,OK,OK,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,SYSTEM,SYSTEM
28,ZDlink,C,2013Z00003,OK,OK,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,SYSTEM,SYSTEM
29,ZDpstid,C,2013Z00003,13.0001283,13.0001283,0,Nee,"0,0000000000",NaN,27/05/2013,27/05/2013,SYSTEM,SYSTEM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5020870,xtbtw,S,F18-004395,"8,58","8,58",0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020871,xtbtwh,S,F18-004395,"8,58","8,58",0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020872,xtbtwl,S,F18-004395,"0,00","0,00",0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020873,xtFacda,S,F18-004395,30-09-2018,30-09-2018,0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020874,xtFacnr,S,F18-004395,181119,181119,0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020875,Xtrdocid,S,F18-004395,73c2832c-45b0-4e9d-b327-5f4360aeacc1,73c2832c-45b0-4e9d-b327-5f4360aeacc1,0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020876,xttotex,S,F18-004395,"40,84","40,84",0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020877,xttotin,S,F18-004395,"49,42","49,42",0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020878,BATDONE,S,F18-004396,AUTO,AUTO,0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,SYSTEM
5020879,xpbnk1,S,F18-004396,NL40RABO0113090374,NL40RABO0113090374,0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020880,xtblk,S,F18-004396,nee,NaN,0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020881,xtbtw,S,F18-004396,"0,00","0,00",0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020882,xtbtwh,S,F18-004396,"0,00","0,00",0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020883,xtbtwl,S,F18-004396,"0,00","0,00",0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020884,xtFacda,S,F18-004396,06-10-2018,06-10-2018,0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020885,xtFacnr,S,F18-004396,schade autoband,schade autoband,0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020886,Xtrdocid,S,F18-004396,5e841251-1ab5-4f60-9336-c840d83b54e7,5e841251-1ab5-4f60-9336-c840d83b54e7,0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020887,xttotex,S,F18-004396,"176,33","176,33",0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020888,xttotin,S,F18-004396,"176,33","176,33",0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020889,BATDONE,S,F18-004397,AUTO,AUTO,0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,SYSTEM
5020890,xpbnk1,S,F18-004397,NL26INGB0005830901,NL26INGB0005830901,0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020891,xtblk,S,F18-004397,nee,NaN,0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020892,xtbtw,S,F18-004397,"0,00","0,00",0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020893,xtbtwh,S,F18-004397,"0,00","0,00",0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020894,xtbtwl,S,F18-004397,"0,00","0,00",0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020895,xtFacda,S,F18-004397,01/10/2018,01/10/2018,0,Nee,"0,0000000000",NaN,08/10/2018,09/10/2018,system,malw
5020896,xtFacnr,S,F18-004397,victor veiligpop,victor veiligpop,0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020897,Xtrdocid,S,F18-004397,f8de0fe3-4f75-47aa-a97b-039a4a05ca51,f8de0fe3-4f75-47aa-a97b-039a4a05ca51,0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020898,xttotex,S,F18-004397,"256,48","256,48",0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system
5020899,xttotin,S,F18-004397,"256,48","256,48",0,Nee,"0,0000000000",NaN,08/10/2018,08/10/2018,system,system

In [0]:
def summary():
  print ('Summary of......:', name_csv + '.csv')
  print ('Columns.........:', len(df.columns))
  print ('Rows............:', len(df.index))
  print (2*('\n'))

  for col in df.columns:
    objcounts = df[(col)].value_counts()
    count_unique = len(objcounts[objcounts != 0])
    print ('  **', (col) ,'**''\n') # print the header of the column
    print ('Rows............:', len(df[(col)].index))
    print ('Filled..........:', df[(col)].count())
    print ('Empty...........:', df[(col)].isna().sum())
    print ('Unique values...:', count_unique)
 
    if df[(col)].count() > 1: # mistake: 'if objcounts.iloc[0] is > 1:'
      high, high_freq = objcounts.index[0], objcounts.iloc[0]
      low, low_freq = objcounts.index[-1], objcounts.iloc[-1] # lowest: trick = -1
      print ('Most freq.......:',high,'  (',high_freq,'x)')
      print ('Least freq......:',low,'  (',low_freq,'x)')
      print ('Datatype........:', df[(col)].dtype) # print the datatype of the column + a new line
      print ('Overview........:''\n')
      head = df[(col)][:5]
      for a in head:
        print ('    ',a)
      print ('     ...')
      tail = df[(col)][-5:]
      for b in tail:
        print ('    ',b)
      print (1*('\n'))
        
    else:
      print ('\n''** This is an empty column **''\n')
  
    if df[(col)].dtype == 'int64':
      objcounts = df[(col)].value_counts()
      count_unique = len(objcounts[objcounts != 0])
      high, high_freq = objcounts.index[0], objcounts.iloc[0]
    
      print ('Min.............:', df[(col)].min())
      print ('Mean............:', df[(col)].mean())
      print ('Max.............:', df[(col)].max())
      print ('Datatype........:', df[(col)].dtype) # print the datatype of the column + a new line
      print ('Overview........:''\n')
      head = df[(col)][:5]
      for a in head:
        print ('    ',a)
      print ('     ...')
      tail = df[(col)][-5:]
      for b in tail:
        print ('    ',b)
      print (1*('\n'))
  
  print (1*('\n'))

In [0]:
summary()

In [0]:
import sys
sys.stdout = open((name_csv)+'_summary.txt', 'wt')

In [0]:
summary()